[submodule "PyNAU7802"]
	path = catbox_monitor/modules/PyNAU7802
	url = https://github.com/bikeNomad/PyNAU7802.git
[submodule "catbox_monitor/modules/tinypico-micropython"]
	path = catbox_monitor/modules/tinypico-micropython
	url = https://github.com/tinypico/tinypico-micropython.git
[submodule "catbox_monitor/modules/micropython"]
	path = catbox_monitor/modules/micropython
	url = https://github.com/micropython/micropython.git
[submodule "catbox_monitor/modules/micropython-example-boards"]
	path = catbox_monitor/modules/micropython-example-boards
	url = https://github.com/micropython/micropython-example-boards.git
[submodule "catbox_monitor/modules/esp-idf"]
	path = catbox_monitor/modules/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "catbox_monitor/modules/micropython-mqtt"]
	path = catbox_monitor/modules/micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt.git
